@use 'vars/vars' as color;

body {
  width: 100%;
  min-height: 100vh;
}

.content {
  padding: 5vw;
}


.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.search input {
  height: 35px;
  outline: none;
  padding: 5px;
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: solid 2px rgb(194, 192, 192);
  border-left: none;
}


.search-btn {

  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: black;
  color: color.$main-yellow;
  height: 35px;
  width: 130px;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  }

.filter {
  margin-bottom: 3vh;
}

.listings {
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
}




.listings p{
  font-size: 1.1rem;
}

.fa-store {
  transform: scale(0.8);
  margin-right: 5px;
  color: rgb(153, 41, 41);
}



.cards {
  margin: 0 auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;

}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card {
  border-radius: 5px;
  list-style: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.151);
  background-color: rgb(250, 249, 249);
  cursor: pointer;


}

.card:hover {
  border: solid 1px rgb(172, 172, 172);
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;

}
.parent{
  position: relative;

}
.over-img{
  position: absolute;
  top: 20%;
  left: 10%;
}
.card-content h5 {
  font-size: 1.2rem;
  font-weight: normal;
}

.price {
  display: flex;
  align-items: center;
  color: rgb(100, 100, 100);

}

.fa-money-bill-wave {
  margin-right: 10px;
  transform: scale(1.2);
}

.card-actions {
  display: flex;
  padding: 10px;
  padding-top: 0;
}

.btn-mini {
  background-color: color.$main-yellow;
  border-radius: 100px;
  padding: 4px;
  width: 36px;
  border: none;
  color: rgb(75, 43, 43);
  margin-right: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-mini:hover {
  background-color: rgba(230, 158, 43, 0.774);
}

.fa-comment-alt, .fa-heart {
  transform: scale(0.9);
}

.filter-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5vh;
}

.filter-box a{
 color: inherit;
 text-decoration: none;
}

.select {
  padding: 0.7vh 1vw;
  outline: none;
  border: 1px solid rgb(165, 165, 165);
  background-color: white;
  cursor: pointer;
  
}
.select:hover {
  padding: 0.7vh 1vw;
  outline: none;
  border: 1px solid rgb(165, 165, 165);
  background-color: rgb(231, 231, 231);
  cursor: pointer;
  
}


.filter-btn {
  border-radius: 5px;
  background-color: black;
  color: color.$main-yellow;
  height: 38px;
  width: 50px;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;


}
