body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
.chat {
  display: flex;
  padding: 1vh;
  margin: 1vh 0.5vh 1vh 0.5vh;
  transition: all 0.2s ease-in-out;
  
}

.chat:hover {
  background-color: rgb(235, 233, 233);
}

.item-img {
width: 90px;
height: 90px;
border-radius: 100%;
object-fit: cover;

}

.chat-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
 
}

.chat-info p {
  font-size: 1.1rem;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60vw;
}



