
<nav>
    <a href="/">
      <img class='logo' src="https://i.imgur.com/VBvtS5t.png" alt="">
    </a>
</div>
<ul class="nav-links">
  <li><a href="/listings">Listings</a></li>
  
  <% if(user) {%>
    <% if(user.is_admin === true) {%>
      <li><a href="/items/post">Sell</a></li>
      <li><a href="/mypostings">Store</a></li>
    <% }%>
  <% }%>
  
  <li><a href="/favourites">Favourites</a></li>
  <li><a href="/messages">Messages</a></li>
  <% if(!user) { %>
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register</a></li>
  <% } else { %>
    <li>
      <form class="logout-form" id='logout' action="/logout" method="POST">
      </form>
      <button form='logout' class="logout-btn" >Log Out</button>
    </li>
  <% } %>

</ul>

<div class="burger">
  <div class="line1"></div>
  <div class="line2"></div>
  <div class="line3"></div>
</div>

</nav>
