.my-message {
  color: white;
  align-self: flex-end;
  background-color: rgb(201, 117, 60);
  padding: 7px 15px;
  border-radius: 20px;
  font-size: 1.2em;
  max-width: 80%;
  margin-bottom: 4px;
  overflow-wrap: break-word;
}
